.container {
  position: relative;
  padding: 10px;
  margin: 50px;
  display: grid;
  box-sizing: border-box;
  grid-template-columns: repeat(18, 1fr);
  grid-template-rows: repeat(11, 1fr);
  grid-gap: 3px 3px;
  overflow-x: hidden;
  text-align: center;
}
body {
  background-color: rgb(34, 34, 34);
  font-size: large;
}
h1 {
  text-align: center;
}

/* when the table looses its structure, the periodic table will be replaced with a jpeg img of the same periodic table,
and the background will change from dark grey to purple */

@media (max-width: 1800px) {
  img {
    content: url(periodic.jpeg);
    text-align: center;
    width: 100%;
    height: 100%;
  }
  .container {
    display: none;
  }
  body {
    background-color: rgb(70, 8, 81);
  }
  h1 {
    display: none;
  }
}

.cell-1 {
  border-radius: 5px;
  background: linear-gradient(
    324deg,
    rgb(33, 26, 168) 0%,
    rgb(37, 37, 158) 14%,
    rgba(0, 212, 255, 1) 100%
  );
}
.cell-2 {
  border-radius: 5px;
  background: linear-gradient(
    324deg,
    rgb(90, 64, 4) 0%,
    rgb(129, 103, 16) 14%,
    rgb(239, 201, 89) 100%
  );
}
.cell-3 {
  border-radius: 5px;
  background: linear-gradient(
    324deg,
    rgb(5, 87, 27) 0%,
    rgb(18, 123, 32) 14%,
    rgb(117, 236, 145) 100%
  );
}
.cell-4 {
  border-radius: 5px;
  background: linear-gradient(
    324deg,
    rgb(99, 101, 5) 0%,
    rgb(113, 129, 24) 14%,
    rgb(240, 253, 124) 100%
  );
}
.cell-5 {
  border-radius: 5px;
  background: linear-gradient(
    324deg,
    rgb(106, 6, 145) 0%,
    rgb(110, 22, 151) 14%,
    rgb(178, 107, 229) 100%
  );
}
.cell-6 {
  border-radius: 5px;
  background: linear-gradient(
    324deg,
    rgb(52, 116, 6) 0%,
    rgb(75, 151, 25) 14%,
    rgb(172, 234, 110) 100%
  );
}
.cell-7 {
  border-radius: 5px;
  grid-row: 9;
  background: linear-gradient(
    324deg,
    rgb(9, 87, 105) 0%,
    rgb(29, 93, 123) 14%,
    rgb(96, 218, 246) 100%
  );
}
.cell-8 {
  border-radius: 5px;
  grid-row: 10;
  background: linear-gradient(
    324deg,
    rgb(7, 108, 83) 0%,
    rgb(17, 125, 98) 14%,
    rgb(116, 255, 218) 100%
  );
}
.cell-9 {
  border-radius: 5px;
  background: linear-gradient(
    324deg,
    rgb(85, 8, 90) 0%,
    rgb(110, 19, 117) 14%,
    rgb(226, 74, 237) 100%
  );
}

.hdn {
  text-align: center;
  padding: 2px;

  visibility: hidden;
}

.hdn-bottom1 {
  text-align: center;
  grid-row: 9;

  visibility: hidden;
}
.hdn-bottom2 {
  text-align: center;
  grid-row: 10;

  visibility: hidden;
}
